:root {
  --backgroud-principal: #F2F2F2;
  --backgroud-principal-hover: #FFFFFF;
  --border-radius-global: 12px;
  --font-family-principal: 'Montserrat',
  sans-serif;
  --font-family-var: normal 600 24px/29px var(--font-family-principal);
  --color-heading: #4F4F4F;
  --color-text: #828282;
  
  --color-text-second: #E0E0E0;
  --color-text-third: #333333;
  --color-backgroud: #2F80ED;
  --font-family-secondary: normal 500 18px/22px var(--font-family-principal);
  --font-family-secondarys: normal 500 12px/24px var(--font-family-principal);
  --font-family-terciary: normal 500 16px/20px var(--font-family-principal);
  --font-family-terciarys: normal 500 14px/17px var(--font-family-principal);
  --cal-height-Projects: calc(568px - 217px);
}

html, body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroud-principal);
  width: 80vw;
  height: auto;
}

#root {
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

